* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: #1d1f33;
  color: #fff;
}

/* colors */
/* 
main: #e94173;
bg-dark: #1d1f33;
bg-light: #272742; 
*/

.card-bg {
  background-color: #e94173;
  position: relative;
  width: 300px;
  height: 200px;
}

.card {
  background-color: #272742;
  padding: 20px 25px;
  border-radius: 5px;
}

.card-small {
  position: absolute;
  width: 300px;
  left: -200px;
  top: -100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header1,
.header {
  font-size: 16px;
  font-weight: 600;
}

.header2 {
  font-size: 20px;
}

.actions {
  display: flex;
  gap: 25px;
  align-items: center;
}

.plan-upgrade {
  background-color: #e94173;
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
  padding: 10px 20px;
  text-decoration: none;
}

.plan-cancel {
  color: #999;
}

.card-large {
  position: absolute;
  width: 400px;
  left: 80%;
  top: -200px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.invoice-table {
  border-collapse: collapse;
  border-radius: 15px;
}

th,
td {
  padding: 10px 0px 10px 10px;
}

tr td:nth-child(3) {
  color: #e94173;
}

tr.selected {
  background-color: #1d1f33;
}

.invoices {
  font-size: 12px;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #424268;
  width: 150px;
  padding: 15px 20px;
  text-align: center;
}
